{% extends 'base.html.twig' %}

{% block body %}
    <div class="container w-50 pt-5">
        <h1>Check the weather</h1>

        {{ form_start(locationForm)}}
            {{ form_widget(locationForm) }}

            <button type="submit" class="btn btn-primary">Search</button>
        {{ form_end(locationForm)}}

        {% if weather is defined %}
            <div class="card mt-5">
                <div class="card-body mx-auto">
                    <h5 class="card-title">Weather for today: </h5>
                    <span class="badge bg-primary">{{ weather.temperature }} &#176;C</span>
                    <span class="badge bg-success">{{ weather.description }} </span>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
